QGroupBox {
    border: 0px solid;
}
QGroupBox {
    border:none;
}
QLCDNumber {
    border:none;
    font-family: "STCaiyun";
}
QLabel {
    padding-left: 20px;
    padding-right: 20px;
    font: 30px black;
    font-family: "STCaiyun";
}
QGroupBox#mainLayout {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
}
